body > .subdomain-navigator {
  position: fixed;
  top: 0.25rem;
  left: 2.5rem;
  max-width: 20em;
  padding: 1em;
  z-index: 102;
  box-sizing: border-box;
}

.toggle-subdomain-menu {
  font-size: 2em;
  position: absolute;
  top: 0.25em;
  left: 0.25em;
}

.toggle-subdomain-menu:hover {
  transform: rotate(20deg) scale(1.1);
}

body > .subdomain-navigator ul {
  margin-top: 2em;
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  margin: 0;
  padding: 0.5em;
  border-radius: 0.5em;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

body > .subdomain-navigator ul > li {
  padding: 0;
  width: 100%;
}

body > .subdomain-navigator ul > li a {
  display: block;
  width: 100%;
  padding: 0.25em 0.375em;
  color: #000099;
  text-decoration: none;
  transition: color 0.333s ease-in-out;
}

body > .subdomain-navigator ul > li a:hover {
  color: #006666;
}

body > .subdomain-navigator ul,
body .subdomain-info {
  opacity: 0;
  pointer-events: none;
}

body .control-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.333s ease-in-out;
  height: 1em;
  width: 1em;
  cursor: pointer;
}

body .subdomain-info {
  position: fixed;
  top: 9rem;
  left: 2.5%;
  width: 95%;
  max-width: 36rem;
  padding: 1em;
}

body .subdomain-info .close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  transform: scale(2);
}

body .subdomain-info .close:hover {
  transform: scale(2.5);
}

body.show-subdomain-menu > .subdomain-navigator ul,
body.show-subdomain-menu > .subdomain-info {
  opacity: 1;
  pointer-events: all;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

body.show-subdomain-menu > .subdomain-info {
  border-radius: 0.5em;
}
