body > .subdomain-navigator {
  position: fixed;
  top: 0;
  left: 0;
  width: 20em;
  background-color: yellow;
}

body > .subdomain-navigator ul {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
}

