body > .subdomain-navigator {
  position: fixed;
  top: 0;
  left: 0;
  width: 20em;
  background-color: yellow;
  z-index: 102;
}

.toggle-subdomain-menu {
  font-size: 2em;
  position: absolute;
  top: 0.25em;
  left: 0.25em;
}

body > .subdomain-navigator ul {
  margin-top: 2em;
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  opacity: 0;
  pointer-events: none;
}

body.show-subdomain-navigator > .subdomain-navigator ul,
body.show-subdomain-navigator > .subdomain-info {
  opacity: 1;
  pointer-events: all;
}

body .subdomain-info {
  position: fixed;
  top: 8rem;
  left: 2.5%;
  width: 95%;
  max-width: 36rem;
  opacity: 0;
  pointer-events: none;
}
